@model DataManagment.Models.Appusuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Appusuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodTercero" class="control-label"></label>
                <input asp-for="CodTercero" class="form-control" />
                <span asp-validation-for="CodTercero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodDependiente" class="control-label"></label>
                <input asp-for="CodDependiente" class="form-control" />
                <span asp-validation-for="CodDependiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodUsuario" class="control-label"></label>
                <input asp-for="CodUsuario" class="form-control" />
                <span asp-validation-for="CodUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomUsuario" class="control-label"></label>
                <input asp-for="NomUsuario" class="form-control" />
                <span asp-validation-for="NomUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaUsuario" class="control-label"></label>
                <input asp-for="ClaUsuario" class="form-control" />
                <span asp-validation-for="ClaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodEstusu" class="control-label"></label>
                <input asp-for="CodEstusu" class="form-control" />
                <span asp-validation-for="CodEstusu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
